body{
font-family: Arial;
background-color:#F5F5DC;
margin:0;
}

header{
background-color:#4E342E;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.hero{
background-color:#8D6E63;
color:white;
padding:60px;
text-align:center;
}

section{
padding:40px;
}

ul{
font-size:18px;
}

form{
display:flex;
flex-direction:column;
width:300px;
}

input, textarea{
margin-bottom:10px;
padding:8px;
}

button{
background-color:#4E342E;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

button:hover{
background-color:#6D4C41;
}

footer{
background-color:#4E342E;
color:white;
text-align:center;
padding:15px;
}